:root {
    --first-screen-font-size: 2rem;
    --first-screen-font-color-light: rgba(223, 224, 210, 0.921);
    --header-backdrop-filter-blur: 10px;
    --header-height: 55px;
    --box-border-radius: 20px;

}